<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="EFContext" providerName="System.Data.SqlClient" connectionString="Data Source=??;Initial Catalog=??;Integrated Security=true;User Id=sa;Password=??;MultipleActiveResultSets=True" />
  </connectionStrings>
</configuration>
