<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="EFContext" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-OLPK6BH;Initial Catalog=GeneratedForms;Integrated Security=true;User Id=sa;Password=12345;MultipleActiveResultSets=True" />
  </connectionStrings>
</configuration>